*{
  box-sizing: border-box;
}

.ui.menu {
  font-family: 'Questrial', sans-serif;
}

.menu-title {
  font-size: 1.5em;
}

#text{
  margin-left:8%;
  margin-top:5%;
}

.big{
  font-size:1.7em;
}

.medium{
  font-size:1.5em;
}

#download, #download1{
  border-radius:0.4em;
}

#github, #github1{
  border-radius:0.4em;
}

#image{
  margin-top:5%;
  margin-left:0%;
  padding:0%;
  width:46%;
}

img{
  width:100%;
}
