*{
  box-sizing: border-box;
}

.ui.menu {
  font-family: 'Questrial', sans-serif;
  border-radius:0px;
}

@-moz-document url-prefix() {
.ui.inverted.grey.menu {
margin-bottom:5rem;
}
}

.menu-title {
  font-size: 1.5em;
}

#text{
  margin-left:3%;
  margin-top:5%;
  word-wrap:wrap;
  width:50%;
}

.big{
  font-size:1.7em;
  word-wrap:break-word;
  width:60%;
}

.medium{
  font-size:1.5em;
  word-wrap:break-word;
  width:60%;
  font-family: 'Roboto', sans-serif;
}

.ui.primary.button{
  border-radius:0.4em;
}

.ui.inverted.button{
  border-radius:0.4em;
}

#image{
  margin-top:5%;
  margin-left:0%;
  padding:0%;
  width:47%;
}

img{
  width:100%;
}
