@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum"), local("Cuprum-Regular"), url("https://fonts.gstatic.com/s/cuprum/v7/rZj40-VH1f1Wt0yg6Fkbcw.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

*{
  box-sizing: border-box;
}

.ui.menu {
  font-family: 'Questrial', sans-serif;
  border-radius:0px;
}

@-moz-document url-prefix() {
.ui.inverted.grey.menu {
margin-bottom:5rem;
}
}

.menu-title {
  font-size: 1.5em;
}

#text{
  margin-left:3%;
  margin-top:5%;
  word-wrap:wrap;
  width:50%;
}

.big{
  font-size:1.7em;
  word-wrap:break-word;
  width:60%;
}

.medium{
  font-size:1.5em;
  word-wrap:break-word;
  width:60%;
  font-family:Cuprum;
}

.ui.primary.button{
  border-radius:0.4em;
}

.ui.inverted.button{
  border-radius:0.4em;
}

#image{
  margin-top:5%;
  margin-left:0%;
  padding:0%;
  width:47%;
}

img{
  width:100%;
}
