.slick-slide {
  margin: 0 auto;
}

.slick-prev {
left: 0.25rem !important;
}
.slick-next {
right: 0.25rem !important;
}

.slick-next, .slick-prev {
  z-index: 100;
  color: #757575;
  width: 3rem;
  height: 3rem;
}

.slick-next:hover, .slick-prev:hover {
  color: black;
}

.slick-slide:not(.slick-active) {
width: 110%
}

