* {
    margin: 0;
    padding: 0;
}
 
html, body {
    height: 100%;
}
 
#seite {
    position: relative;
    min-height: 100%;
}
 
#inhalt {
        padding-bottom: 2em;
}
 
#fussbereich {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
}