.forgotpwdlink{
	text-decoration: none;
	color: #999999;
	margin-bottom: 20px;
}

.signUpForm{
	margin: 0 auto;
	padding: 10px 0;
}

.sty{
	width: 256px;
}
.signUpForm h3{
	margin: 5px 0;
	font-weight: bold;
}
@media screen and (max-width: 768px) {
	.signUpForm h3{
		font-size: 16px;
	}
}