.forgotpwdlink {
	text-decoration: none;
	color: #999999;
	margin-bottom: 20px;
}

.signUpForm {
	margin: 0 auto;
	padding: 10px 0;
}

.sty {
	width: 256px;
}
.signUpForm h3 {
	margin: 5px 0;
	font-weight: bold;
}
@media screen and (max-width: 768px) {
	.signUpForm h3 {
		font-size: 16px;
	}
}

.login-links {
	color: #365899;
	cursor: pointer;
	font-size: 12px;
}

.login-links:hover {
	color: #365899;
	text-decoration: underline;
}

.error-message{
    font-size: 12px;
    line-height: 12px;
    color: rgb(244, 67, 54);
    margin-top: 5.7px;
}
