.dev_image{
  height: 400px;
  width: 80%;
}

.bottom {
    padding: 100px 0 240px 0;
}

.code_box{
  padding: 10px 50px 10px 50px;
  border-radius: 15px;
  max-width: 100%;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 800px){
  .code_box{
    padding: 1px 5px 1px 5px;
  }
}

.piechart_data{
  text-align: right;
}

.section_center{
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    max-width: none;
    padding: 100px 20px 100px 90px;
    position: relative;
    max-width: 1050px;
    align-items: center;
    box-shadow: inset 0 200px 200px -200px #fff, inset 0 -200px 200px -200px #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
}

@media only screen and (max-width: 800px){
    .section_center{
        padding: 60px 0px;
    }

    .center__description .description__heading {
        margin-top: 0;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1080px){
    .section_center {
    max-width: 940px;
    padding-left: 20px;
    }
}


.center__description {
    width: 100%;
}

.center__description .description__heading {
    font-size: 42px;
    margin-bottom: 5px;
    text-align: center;
    color: #414141;
    font-family: 'Roboto', sans-serif;
}

.center__description .description__text {
    font-size: 18px;
    font-weight: 300;
    max-width: 100%;
    line-height: 40px;
    color: #414141;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1139px){
  .conversation__description .description__heading {
    font-size: 36px;
  }
}
