.white-grey{
    background: #f7f7f7;
}
.support{
    align-self: center;
    margin: 0;
}
.section{
    margin: 0 auto;
    max-width: none;
    padding: 50px 90px 50px 90px;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
    margin: 20px 0 0 0;
}
.support__heading{
    color: #757575;
    font: 300 34px/40px 'Roboto',sans-serif;
    letter-spacing: -.01em;
    margin: 40px 0 20px;
}
.image-container {
    width: 30%;
}
.blue-text{
    color: #f2f2f2;
}
.blue-background{
    background: #4285f4;
}
.conversation__description{
    width: 50%;
}
@media only screen and (max-width: 800px){
.support__text {
    font-size: 16px;
    line-height: 24px;
}
}
.support__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    max-width: 740px;
    color: #414141;
    font-family: 'Roboto', sans-serif;
}

.devsite-landing-row-group {
    display: -ms-flexbox;
    display: flex;
    margin: 30px 0;
}
.devsite-landing-row-item.devsite-landing-row-item-with-icon {
    -ms-flex-direction: row;
    flex-direction: row;
}
.devsite-landing-row-column, .devsite-landing-row-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0;
    flex: 1 0;
    -ms-flex-direction: column;
    flex-direction: column;
}
.devsite-landing-row-column:not(:first-child), .devsite-landing-row-item:not(:first-child) {
    margin-left: 40px;
}
.devsite-landing-row-item.devsite-landing-row-item-with-icon {
    -ms-flex-direction: row;
    flex-direction: row;
}
.devsite-landing-row-column:not(:first-child), .devsite-landing-row-item:not(:first-child) {
    margin-left: 40px;
}
.devsite-landing-row-item-description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
}
.devsite-landing-row-item-no-image h3, .devsite-landing-row h4 {
    font: 400 20px/32px Roboto,sans-serif;
    margin: 0 0 12px 0;
    padding: 0;
    color: #039be5;
}
.devsite-landing-row-item-icon {
    font-size: 40px;
    height: auto;
    margin-left: 4px;
    width: 40px;
}
.devsite-landing-row-item-icon  img {
    border: 0;
    max-width: 100%;
}
.devsite-landing-row-item-icon-container{
    height: auto;
    width: 40px;
}

.center{
    text-align: center;
    margin: 0 auto;
}
.non-flex{
    display: block;
    padding: 50px 90px 140px 90px;
    box-shadow: none;
    text-align: center;
}
.devsite-landing-row-item-description a:hover{
    text-decoration: none;
}
.devsite-landing-row-item-description a{
    text-decoration: none;
}
.devsite-landing-row-item-description {
    text-decoration: none;
}
.footer-desc{
    margin: 0 auto;
}
@media only screen and (min-width: 801px) and (max-width: 1095px){
    .support__text{
        max-width: 100%;
    }
}
@media only screen and (max-width: 800px){
    .support__heading {
        font-size: 36px;
        margin-top: 0;
    }
    .support__text{
        max-width: 100%;
    }
    .section{
    padding: 70px 20px 50px 20px;

    }
    .devsite-landing-row-item {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .non-flex{
        padding: 50px 90px 190px 90px;
    }
}
@media screen and (max-width: 768px){
    .devsite-landing-row-group {
        display: block;
    }
    .devsite-landing-row-column:not(:first-child), .devsite-landing-row-item:not(:first-child) {
        margin-left: 0px;
    }
}
