.white-grey{
    max-width: 85%;
    width: 935px !important;
    margin: 0 auto;
    max-width: none;
    padding: 50px 20px 50px 20px !important;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.support{
    align-self: center;
    margin: 0;
}
.section{
    max-width: none;
    padding: 50px 20px 50px 20px;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
    margin: 0 auto;
    max-width: 85%;
    width: 935px;

}
.section .right{
    width: 60%;
}
.support__heading{
    color: #414141;
    font: 300 34px/40px 'Roboto',sans-serif;
    letter-spacing: -.01em;
    margin: 40px 0 20px;
    text-align: left;
}
.image-container {
    width: 30%;
}
.blue-text{
    color: #f2f2f2;
}
.blue-background{
    background: #4285f4;
}
.conversation__description{
    width: 50%;
}
.conversation__description_{
  width: 100%;
}
@media only screen and (max-width: 800px){
  .support__text {
      font-size: 16px;
      line-height: 24px;
  }
  .support{
      display: inline-block;
      width: 40%;
      padding: 50px;
  }
  .image-container {
      width: 100%;
      text-align: center;
  }
}
.support__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    max-width: 740px;
    color: #414141;
    font-family: 'Roboto', sans-serif;
}

.devsite-landing-row-group {
    display: -ms-flexbox;
    display: flex;
    margin: 30px 0;
}
.support-item.support-item-with-icon {
    -ms-flex-direction: row;
    flex-direction: row;
}
.devsite-landing-row-column, .support-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0;
    flex: 1 0;
    -ms-flex-direction: column;
    flex-direction: column;
}
.devsite-landing-row-column:not(:first-child), .support-item:not(:first-child) {
    margin-left: 40px;
}
.support-item.support-item-with-icon {
    -ms-flex-direction: row;
    flex-direction: row;
}
.devsite-landing-row-column:not(:first-child), .support-item:not(:first-child) {
    margin-left: 40px;
}
.support-description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    font-weight: 300;
}
.support-item-no-image h3, .devsite-landing-row h4 {
    font: 400 20px/32px Roboto,sans-serif;
    margin: 0 0 12px 0;
    padding: 0;
    text-align: left;
    color: #039be5;
}
.support-item-icon {
    font-size: 40px;
    height: auto;
    margin-left: 4px;
    width: 40px;
}
.support-item-icon  img {
    border: 0;
    max-width: 100%;
}
.support-item-icon-container{
    height: auto;
    width: 40px;
}

.center{
    text-align: center;
    margin: 0 auto;
}
.non-flex{
    display: block;
    padding: 50px 20px 50px 20px;
    box-shadow: none;
    text-align: center;
}
.support-description a:hover{
    text-decoration: none;
}
.support-description a{
    text-decoration: none;
}
.support-description {
    text-decoration: none;
}
.footer-desc{
    margin: 0 auto;
}
.gray-wrapper{
    background: #f7f7f7;
    width: 100%;
}
.blue-wrapper{
 background: #4285f4;
 width: 100%;
}
.support-description-content{
    text-align: left;
    font-size: 16px;
    line-height: 22px;
}
@media only screen and (min-width: 1400px){
    .white-grey{
        padding: 50px 20px 50px 20px !important;
        width: 970px;
        margin: 0 auto;
        max-width: none;
        position: relative;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-pack: justify;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .section{
        max-width: 100%;
        width: 970px !important;
        margin:0 auto !important;
        padding: 100px 20px 100px 20px;
    }
    .topAppBar{
        width: 1050px !important;
        margin: 0 auto;
    }
    .safe_and_secure{
        padding-bottom: 220px;
        padding-left: 120px;
    }
    .team-card{
        margin: 10px 10px 0 0;
        max-width: 250px;
    }
    .non-flex{
        position: relative;
        top: 100px;
        padding: 0 0 150px 0;
    }
}

@media only screen and (max-width: 1000px){
    .section .left{
        width: 100%;
    }
    .section .right{
        width: 100%;
    }
}
@media only screen and (max-width: 1000px){
    .white-grey{
        max-width: 85%; 
        padding: 70px 20px !important 
    }
    .support__heading {
        font-size: 36px;
        margin-top: 0;
    }
    .support__text{
        max-width: 100%;
    }
    .section{
    padding: 70px 20px 50px 20px !important;

    }
    .support-item {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .non-flex{
        padding: 50px 20px 50px 20px;
    }
}
@media screen and (max-width: 1000px){
    .devsite-landing-row-group {
        display: block;
    }
    .devsite-landing-row-column:not(:first-child), .support-item:not(:first-child) {
        margin-left: 0px;
    }
}
@media screen and (max-width: 480px){
    .grey-wrapper{
       margin: 50px 0 0 0;
    }
}
