.feedback-textbox {
    padding: 16px;
    margin: 16px;
  }
  
  .feedback-default-message {
    margin: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  
  .feedback-timestamp {
      color: #aaa;
      font-size: 12px;
  }
  