.not-found-banner{
    text-align: center;
    margin: 0 auto;
    background-size: cover;
    min-height: 74vh;
    width: 100%;
    position: relative;
    top: 70px;
}
.not-found-banner h1{
    font-size: 72px;
    margin: 0px 0 23px 0 ;
}
.not-found-banner h2{
    font-size: 22px;
    letter-spacing: 10px;
}
.not-found-banner h2 a img{
    width: 180px;
    margin: 75px 0 -5px 0;
}

.notfound-button{
    width: 300px;
    margin-top: 0.7rem;
}

.susilogo {
    width: 11rem;
    margin: auto;
}

@media screen and (max-width: 356px) {
    .notfound-button {
        width: 100%;
        margin-top: 0.7rem;
    }
}
