.not-found-banner{
    text-align: center;
    margin: 0 auto;
    background-size: cover;
    min-height: 74vh;
    width: 100%;
    position: relative;
    top:-18px;
}
.not-found-banner h1{
    font-size: 72px;
    margin: 0px 0 23px 0 ;
}
.not-found-banner h2{
    font-size: 22px;
    letter-spacing: 10px;
}
.not-found-banner h2 a img{
    width: 180px;
    margin: 75px 0 -5px 0;
}

.button-wrapper{
    width: 100%;
  }
.notfound-button{
  width: 300px;
  margin: 10px;
}
