.not-found-banner{
    text-align: center;
    margin: 0 auto;
    background: url(../../images/not-found-bg.jpg);
    background-size: cover;
    min-height: 74vh;
    width: 100%;
    position: relative;
    top:-18px;
}
.not-found-banner h1{
    font-size: 72px;
    margin: 0px 0 23px 0 ;
}
.not-found-banner h2{
    font-size: 22px;
    letter-spacing: 10px;
}
.not-found-banner h2 a img{
    width: 180px;
    margin: 75px 0 -5px 0;
}

.button-wrapper{
    width: 100%;
  }
.notfound-button{
  width: 40%;
  margin: 10px 10% ;
}

@media screen and (min-width: 1920px) {
  .notfound-button{
    width: 40%;
  }
}

@media screen and (max-width: 991px) {
    .notfound-button{
      width: 40%;
    }
}

@media screen and (max-width: 767px) {
    .notfound-button{
      width: 60%;
    }
}

@media screen and (max-width: 479px) {
    .notfound-button{
      width: 80%;
    }
}

@media screen and (max-width: 359px) {
    .notfound-button{
      width: 80%;
    }
}
