#subheading {
  font-size: 24px;
  font-weight: 100;
  margin: 20px auto;
  max-width: 880px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.device_table {
position: relative;
left: 15%;
margin-top: 30px;
width: 434px;
}

.twitterIcon{
right: 5px;
}

.settings-list{
  margin-bottom: 145px;
  padding: 0px 0px;
  user-select: none;
  width: 100%;
}

.settings-list-dropdown{
  user-select: none;
  display: none;
  margin: 0.5rem auto;
  padding: 0 1.5rem;
}

.siteTitle {
  height: 25px;
  margin-top: 21px;
  display: block;
}

.settingsMenuButton {
  margin-bottom: 16px;
  width: 100;
}

.settingsBtns {
top: 1rem;
margin-left: 20px;
}

.settingsComponents{
  width: 75%;
  margin-top: 80px;
}

.image-div{
  margin-top:-40px;
}

.colorPicker{
  margin-left: 2.8rem;
  margin-top: -1.8rem;
  width: 6rem;
}

.color-box{
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 3px;
  border: 1px solid #0000006e;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: -8px;
}

.setting-item{
width: 322px;
}

.Link a {
color : #f75959;
text-decoration : none;
}

.Link a:hover {
color: #ff0000;
transition: all 0.2s ease-in-out;
}

.settingMenu {

  max-width: none;
  padding: 50px 0px 50px 0px;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 85%;
  width: 935px;
}

.leftMenu {
width: 35%;
background-color: #fff;
height: 500px;
overflow: hidden;
}

.rightMenu {
width: 64%;
background-color: #fff;
}

.right-chevron{
margin-top: 10px;
position: absolute;
right: 10px;
}

.email-field:hover{
  cursor: not-allowed;
}

@media only screen and (max-width: 1060px){
.settings-list-dropdown{
  display: block;
}

.settings-list{
  display: none;
}

.leftMenu {
  width: 100%;
  height: auto;
}

.rightMenu {
  height: auto;
  width: 100%;
}

.setting-item{
width: 100%;
}
}

@media screen and (max-width: 500px) {
.reduceSettingDiv {
  width: 70%;
}
.settingsBtns {
  margin-left: 0rem;
}
}
