.forgotPwdForm{
	margin: 0 auto;
	padding: 10px 0;
}

.forgotPwdForm h3{
	font-family: 'Open Sans', sans-serif;
	margin: 5px 0;
	font-weight: 500;
}

@media screen and (max-width: 768px) {
	.forgotPwdForm h3{
		font-size: 16px;
	}
}
