.forgotPwdForm{
	margin: 0 auto;
}

.serverUrl{
 	float: left;
  position: relative;
  display: block;
	width: calc(100% - 46px);
	margin: -15px 0 10px -30px;
 }

@media screen and (max-width: 768px) {
	.forgotPwdForm h1{
		font-size: 16px;
	}
}
