.section-team{
    margin: 0 auto;
    max-width: none;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: inset 0 200px 200px -200px #fff, inset 0 -200px 200px -200px #fff;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    
    padding: 50px 20px 140px 90px;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
    width: 1050px;
}
/* overlay styles start */
.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .3s ease;
  opacity:0;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
  opacity:0.7;
}

.text {
  opacity: 1;
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* overlay styles end */

.section-container-team {
    margin: 0 auto;
    max-width: 1120px;
    padding: 90px 20px 50px;
    position: relative;
    text-align: center;
}
.team-container{
    display: flex;
    flex-wrap: wrap
}
.team-member-container{
    display: flex;
    flex-wrap: wrap;
    width: 880px;
    margin: 0 auto;
}
.team-card{
    margin: 10px 10px 0 0;
    max-width: 280px;
}
.grey-background{
    background: #f7f7f7;
    width: 100%;
    padding: 50px 0 140px;
    align-items: center;
}

@media screen and  (max-width: 1120px) {
    .team-container{
        width: 100%;
    }
    .section-team{
        max-width: 75%;
        margin: 0 auto;
    }
    .team-card{
        width: 32%;
        margin: 1% 1% 0 0;
    
    }

}
@media screen and  (max-width: 990px) {
    .section-team{
        width: 56%;
        margin: 0 auto;
    }
    .team-card{
        width: 49%;
        margin: 1% 1% 0 0;
    }
    .grey-background{
        background: #f7f7f7;
        width: 100%;
        padding: 50px 0 140px;
        align-items: center;
    }
}
@media screen and  (max-width: 800px) {
    .section-team{
        width: 75%;
        margin: 0 auto;
    }
    .grey-background{
        background: #f7f7f7;
        width: 100%;
    }
    .team-card{
        width: 45%;
        margin: 1% 1% 0 0;
    }

}
@media screen and (max-width:735px){
    .section-team{
        width: 275px;
        margin: 0 auto;
    }
    .team-card{
        width: 275px;
        margin: 5px 5px 5px 0;
    }
}
@media screen and (max-width:480px){
    .text div div a{
        margin: 0px -10px 2px 0px !important
    }
    .section-team{
        width: 240px;
        margin: 0 auto;
        padding-left:20px; 
    }
    .team-card{
        width: 240px;
        margin: 5px 0 5px 0;
    }
    .alignLeft{
        display: none;
    }
    .alignRight{
        display: none;
    }
    .susi-logo{
        margin: 0 auto
    }
    .footer-container{
        text-align: center;
        display: block;
    }
}
