.customeTheme{
    border: 1px solid #cdcdcd;
    width: 236px;
    height: 196px;
    padding: 12px 0px;
    border-radius: 4px;
    pointer-events: auto;
  }

.customeTheme:hover {
  visibility: visible ;
  opacity: 1;
}

.customeTheme.place-top::after,
.customeTheme.place-bottom::after {
  border-color:  #ffffff transparent;
}

.customeTheme.place-right::after,
.customeTheme.place-left::after {
  border-color:  transparent #ffffff;
}
