@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cuprum', sans-serif;
}

.section {
    padding: 120px 0px;
}

.bg-light {
    background: #fafafa;
}

p {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #737373;
    font-size: 15px;
    line-height: 24px;
}

.pt80 {
    padding-top: 80px;
}

.pt40 {
    padding-top: 40px;
}

.pb0 {
    padding-bottom: 0px;
}


/* ---- Width-Sizes ---*/

.w-xs {
    min-width: 80px;
}

.w-sm {
    min-width: 95px;
}

.w-md {
    min-width: 110px;
}

.w-lg {
    min-width: 140px;
}

.title {
    font-weight: 400;
}

.slogan {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 45px;
    max-width: 580px;
    margin: 0px auto;
}

.hero {
    width: 100%;
    height: 100%;
}

.hero {
    position: relative;
    padding: 105px 0 0px 0;
    min-height: 720px;
    background: #fafafa;
    background-size: cover;
    color: #333;
}

.btn-signup {
    padding: 10px 20px !important;
    border-radius: 3px;
    margin-top: 4px;
    margin-left: 15px;
    font-weight: 600;
}

#macbook {
    background: url("../images/mac.png");
    width: 967px;
    height: 484px;
    margin: 0px auto;
    margin-top: 50px;
}

#tour {
    margin: 0 auto;
    width: 652px;
    height: 432px;
    position: relative;
    top: 22px;
    left: -4px;
}

.carousel-indicators li {
    border: 1px solid #333b4d;
}

.carousel-indicators .active {
    background: #333b4d;
}

.carousel-inner>.item {
    margin-top: -2px;
}

.font-xl {
    font-size: 240px;
}

.hero h1 {
    margin: 50px 0 0px 0;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1px;
}

.hero h4 {
    margin-top: 55px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 30px;
    font-family: 'Indie Flower';
    color: #333;
    line-height: 26px;
}

.hero-text2 {
    margin-top: 10px !important;
    margin-bottom: 45px !important;
    font-weight: 300 !important;
    font-size: 30px !important;
    font-family: 'Indie Flower' !important;
    color: #333 !important;
    line-height: 26px !important;
}

.use-btn {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 15px 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-custom {
    margin: -1px;
    border-radius: 0px;
    background-color:#fafafa;
    padding-top: 10px;
    padding-right: 65px;
}

.navbar-custom ul li a {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.btn-primary:hover {
    color:#333 !important;
}
.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.navbar-brand span {
    color: #3bc0c3;
}

.navbar-brand i {
    font-size: 15px;
}

.features-2 {
    min-height: 85px;
}

.features-2 img {
    max-width: 200px;
    margin: 0px auto;
    vertical-align: bottom;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #3bc0c3;
}

.navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.content-wrap {
    position: relative;
    color: #bdc3c7;
    overflow: hidden;
}

.content-wrap h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #3f3f4d;
}

.features-h3 {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    color: #3f3f4d !important;
}

.content-wrap p {
    margin-bottom: 30px;
    line-height: 30px;
    color: #999;
}

.dark-bg {
    text-align: center;
}

.wrapper-lg {
    padding: 120px 0;
}

.signup-divider .form-group,
.fast-reg .form-group {
    width: 25%;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}

.signup-divider .form-control,
.fast-reg .form-control,
.earlyaccess .form-control {
    background: transparent;
    border: 2px solid #444;
    font-weight: 400;
    font-size: 14px;
    height: 50px;
    color: #444;
}

.sign-title {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 28px;
}

.text-white {
    color: #444;
}

.featured-img img {
    margin: 0px auto;
}

.price_card {
    background: #fafafa;
    position: relative;
    padding-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.header {
    color: rgb(255, 255, 255);
    font-family: 'Cuprum', sans-serif;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.price {
    width: 100%;
    font-size: 60px;
    font-weight: 300;
    display: block;
    text-align: center;
    padding: 30px 0 10px;
}

.name {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    display: block;
    text-align: center;
    padding: 0 0 30px;
}

.price-features {
    list-style: none;
    text-align: center;
    color: rgb(138, 138, 138);
    margin: 0;
    padding: 0;
}

.price-features li {
    margin: 0 35px;
    padding: 20px 15px;
}

.price-features li:not(:last-child) {
    border: 1px solid rgb(242, 242, 242);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.price_card button {
    margin-top: 20px;
}

.tip {
    font-family: 'Indie Flower';
    position: absolute;
    color: rgb(117, 117, 117);
    font-size: 20px;
    margin: 10px 5px;
}

.client-list img {
    max-width: 200px;
    height: auto;
}


/**********Footer*****/

.navigator {
    background-color: #333b4d;
}

.footer {
    background-color: #2c3035;
    padding: 20px 0px;
}

.footer .navbar-brand-footer {
    line-height: 50px;
}

.footer p {
    margin-top: 50px;
    color: rgba(202, 205, 210, 0.59);
}

.footer .navbar-footer {
    float: right;
}


/* Social */

ul.social-icons {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

ul.social-icons li {
    list-style: none;
    display: inline-block;
    margin-left: 6px;
}

ul.social-icons li:first-child {
    margin-left: 0px;
}

ul.social-icons li a {
    display: inline-block;
    margin: 0;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.social-icons li a:hover {
    background-color: #ffffff;
}

ul.social-icons li a i {
    color: #2c3035;
    font-size: 15px;
    line-height: 30px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.footer .navbar-nav li a {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

footer .navbar-nav li a {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

footer .navbar-nav li a:focus,
footer .navbar-nav li a:hover {
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1024px) {
    #macbook {
        width: 750px;
        height: 395px;
        background-size: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -20px;
        position: static;
    }
    #tour {
        width: 518px;
        height: 330px;
        top: 18px;
    }
    #tour .carousel-inner img {
        width: 518px;
        height: 330px;
    }
    .jumbotron {
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 768px) {
    #macbook {
        background-image: none;
        width: 500px;
        height: 265px;
        background-size: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -56px;
        position: static;
    }
    #tour {
        width: 344px;
        height: 217px;
        top: 12px;
        left: 1px;
    }
    #tour .carousel-inner img {
        width: 344px;
        height: 217px;
    }
    .feature-sec .use-btn {
        margin-bottom: 30px;
    }
    .footer .navbar-brand-footer {
        text-align: center;
    }
    .footer .navbar-nav {
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 640px) {
    .price_card {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 480px) {
    #macbook {
        background-image: none;
        text-align: center;
        width: 100%;
    }
    #tour {
        top: 0;
        left: 0;
        width: 100%;
        max-width: 300px;
        height: 189px;
        margin-left: auto;
        margin-right: auto;
    }
    #tour .carousel-inner img {
        max-width: 300px;
        height: 189px;
        overflow: hidden;
    }
}


/*testimonials*/


/* carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    text-align: center;
}


/* indicator position */

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}


/* typography */

h1 {
    text-align: center;
    margin-bottom: -20px !important;
}

p {
    font-style: italic;
}
