--- 
--- 

@import "{{site.theme}}";


.page-header {
  /* The reason behind using background property instead of backround-color is that whenever 
  ***  linear gradient is not supported the default theme i.e. cayman is applied. but background
  ***  property resets everything and thus acts as a fallback better than background-color */ 
  background: #e12b00;
  background-image: linear-gradient(to right top, #e12b00, #ad1420, #751124, #3c111b, #000000);
}
#pslab-experiments, #how-to-use-pslab-instruments-on-android, #experiments, #template-for-experiments, a {
  color:#e12b00;
}