.app-logo{
    height: 24px;
    width: 74px;
}
.wrapper{
    margin: -10px 0 0 0;
}
.section {
    border-bottom: 1px solid #dfdfdf;
    margin: -20px 0 0 0;
    max-width: 85%;
    padding: 0 20px 120px 20px;
    width: 935px;
    margin:  0 auto
}
.section-container {
    margin: 0 auto;
    max-width: 1120px;
    padding: 80px 20px 80px 0px;
    position: relative;
    text-align: center;
    color: #414141;
}
.side-menu{
    float: left;
    width: 33%;
    font-family: "Product Sans", sans-serif;
    font-weight: 300;
    line-height: 22px;
}
.side-menu h4{
    float: left;
    font-size: 22px;
    font-weight:300;
}
.terms-list{
    float: left;
    width: 100%;
    text-align: justify;
    font-family: "Product Sans", sans-serif;
    font-weight: 300;
    line-height: 22px;
    margin: -35px 0 0 0;
}
.terms-list h2{
    font-size: 30px;
    font-weight: 300;
}
@media only screen and (min-width: 1400px){
    .section{
        max-width: 1050px;
        padding: 0px
    }
    .topAppBar{
        width: 1050px !important;
        margin: 0 auto;
    }
    .section_copy{
        width: 1050px;
        margin:0 auto;
        padding: 100px 0px 100px 120px;
    }
    .safe_and_secure{
        padding-bottom: 220px;
        padding-left: 120px;
    }
}
@media only screen and (max-width: 1000px){
    .section{
        max-width: 100%;
        padding: 0 20px 20px 20px;
        margin: 0 auto;
        width: 90%;
    }
    .side-menu{
        width: 100%;
    }
    .section-container{
        padding: 80px 0px 120px 0px;
    }
    .side-menu h4{
        font-size: 35px;
        line-height: 35px;
    }
    .terms-list{
        width: 100%;
        margin: -35px 0 80px 0;
    }
    .terms-list h2{
        line-height: 35px;
    }
}
@media only screen and (max-width: 400px){
    .section{
        max-width: 100%;
        padding: 0 20px 20px 20px !important;
        margin: 0 auto;
        width: 85%;
    }
    .side-menu h4{
        text-align: left;
    }

    .terms-list h2{
        text-align: left;
    }
}
