.white-grey{
    max-width: 85%;
    width: 935px;
    margin: 0 auto;
    padding: 50px 20px 50px 20px;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #f7f7f7;
}
.gray-wrapper{
    background: #f7f7f7;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
}

.terms-list{
    line-height: 22px;
    font-size: 16px;
}
.contact-content{
    padding: 50px 0 25px 0;
    max-width: 100%;
    border-bottom: 1px solid #eee;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
    width: 935px;
}
.contact-content h5{
    font-size: 18px;
    font-weight: 400px;
    line-height: 0px;
}
.contact-content p{
    display: block;
    width: 85%;
    line-height: 22px;
    font-weight: 500;
}
.contact-content-last{
    padding: 50px 0 25px 0;
    line-height: 22px;
    max-width: 100%;
    width: 935px;
    text-align: left;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
@media only screen and (min-width: 1400px){
    .white-grey{
        padding: 50px 20px 50px 20px !important;
        width: 970px;
        margin: 0 auto;
        max-width: none;
        position: relative;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-pack: justify;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .section{
        max-width: 100%;
        width: 970px !important;
        margin:0 auto !important;
        padding: 100px 20px 100px 20px;
    }
    .topAppBar{
        width: 1050px !important;
        margin: 0 auto;
    }
    .safe_and_secure{
        padding-bottom: 220px;
        padding-left: 120px;
    }
    .team-card{
        margin: 10px 10px 0 0;
        max-width: 250px;
    }
    .non-flex{
        position: relative;
        top: 100px;
    }
}

@media only screen and (max-width: 1000px){
    .white-grey{
        padding: 70px 20px
    }
    .support__heading {
        font-size: 36px;
        margin-top: 0;
    }
    .support__text{
        max-width: 100%;
    }
    .section{
    padding: 70px 20px 50px 20px;

    }
    .support-item {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .non-flex{
        padding: 50px 90px 50px 90px;
    }
}
