.sub-title {
    font-weight: normal;
    font-size: 24px;
    margin: 16px;
  }
  
  .time-chart {
      margin: 16px 16px 16px 16px;
      padding: 20px;
  }
  
  .device-usage {
      margin: 16px 16px 16px 16px;
      padding: 8px 8px 8px 8px;
  }
  
  .country-usage {
    margin: 16px 16px 16px 16px;
    padding: 8px 8px 32px 8px;
  }
  
  .total-hits {
    text-align: center;
    padding: 24px 48px 24px 48px;
  }
  
  .default-message {
    margin: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  
  .recharts-legend-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  
  .pie-chart {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  