.dark-body{
  background-repeat: no-repeat;
background: #183850;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTgzODUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjMTgzODUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMTkyYzNlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjMjIyNTRjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyMjU0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg, #183850 0%, #183850 25%, #192c3e 50%, #22254c 75%, #22254c 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#183850), color-stop(25%,#183850), color-stop(50%,#192c3e), color-stop(75%,#22254c), color-stop(100%,#22254c));
background: -webkit-linear-gradient(-45deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
background: -o-linear-gradient(-45deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
background: -ms-linear-gradient(-45deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
background: linear-gradient(135deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183850', endColorstr='#22254c',GradientType=1 );
}
.chatapp {
  max-width: 760px;
  margin: 20px auto;
  overflow: hidden;
}
.app-bar{
  background-image: url('../images/susi-white.svg');
  margin: 0 auto;
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}
.message-list {
  background: #f5f4f7;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 60px;
  right: 0;
  width: 100vw;
  max-width: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0 auto;
  height: auto;
}
.dark .message-list {
background: rgba(30, 87, 153, 0.02);

}
.message-section {
  background: #eef1f6;
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  width: 100vw;
  max-width: 700px;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
.dark .message-section{
background-repeat: no-repeat;
background: #183850;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTgzODUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjMTgzODUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMTkyYzNlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjMjIyNTRjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyMjU0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg, #183850 0%, #183850 25%, #192c3e 50%, #22254c 75%, #22254c 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#183850), color-stop(25%,#183850), color-stop(50%,#192c3e), color-stop(75%,#22254c), color-stop(100%,#22254c));
background: -webkit-linear-gradient(-45deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
background: -o-linear-gradient(-45deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
background: -ms-linear-gradient(-45deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
background: linear-gradient(135deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183850', endColorstr='#22254c',GradientType=1 );
}
nav {
    margin: 0 auto;
    width: 100vw;
    max-width: 700px;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    margin: 0 auto;
    font-size: 20px;
    line-height: 56px;
    font-weight: 900;
    color: #fff;
}
.app-bar h1{
  text-align: center;
}
.dark nav h1{
    color: #fff;
}
nav .actions {
    align-self: flex-end;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 4px;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 56px;
  width: 100vw;
  background: #607d8b;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  user-select: none;
  -webkit-user-select: none;
}

.message-list-item, .thread-list-item {
  display: flex;
  margin: 5px;
}


.message-container::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 100%;
    top: 40px;
    transform: rotate(-135deg);
    border: 8px solid;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
}
 .dark .message-container::after{
    border-color: rgb(26, 66, 86) #1a4257 rgb(26, 66, 86) rgb(26, 66, 86);
    background: rgba(25, 147, 147, 0.2);

}

.thread-list:hover .thread-list-item:hover {
  background-color: #f8f8ff;
}

.thread-list:hover .thread-list-item {
  background-color: #fff;
}

.thread-list-item.active,
.thread-list:hover .thread-list-item.active,
.thread-list:hover .thread-list-item.active:hover {
  background-color: #e1f5fe;
  cursor: default;
}

.message-author-name,
.thread-name {
    margin: 0;
    font-size: 14px;
    padding: 0;
}

.message-container.SUSI{
    margin-right: auto;
    margin-left: 12px;
    background: #d3e2f4;
}
.dark .message-container.SUSI{
    border-color:rgba(25, 147, 147, 0.2);
  background:rgba(25, 147, 147, 0.2);
      color: #0EC879;
}
.message-container.You{
  background: #fff;
}
.dark .message-container.You{
  background: rgba(25, 147, 147, 0.2);
      color: #0AD5C1;
}
.message-container.SUSI>h5,.message-container.SUSI>.message-text {
    padding-right: 16px;
}
.message-container.SUSI::after {
    transform: rotate(-315deg);
    left: 0;
    top: 16px;
    border-color: transparent transparent #d3e2f4 #d3e2f4;
    background: #d3e2f4;
}
.dark .message-container.SUSI::after{
  border-color:#194b5e #194b5e rgb(25, 75, 94) rgb(25, 75, 94);
  background:rgba(25, 147, 147, 0.2);
}
.message-time, .thread-time {
    font-size: 12px;
    color: #90a4ae;
    margin: 0;
    padding: 0;
    text-align: right;
}
.dark .message-time, .thread-time{
  color: #7eaaaf;
}
.message-text, .thread-last-message {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.message-pane{
  margin: 0 auto;
  width: 100vw;
  max-width: 700px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.compose {
    position: fixed;
    bottom: 0;
    margin: 0;
    border: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 -1px 4px 0 rgba(0,0,0,.12);
    z-index: 2;
    transform: translateY(0);
    transition: transform .25s cubic-bezier(0,0,.3,1) .3s;
    pointer-events: auto;
    opacity: 1;
    width: 100vw;
    max-width: 700px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.dark .compose{
  background: rgba(30, 87, 153, 0.02);
      color: #0AD5C1;


}
.message-composer {
  width: 100%;
  margin: 0 8px 0 0;
  padding: 12px 14px 12px 14px;
  font-size: 14px;
  border: none;
  background: 0 0;
  text-align: left;
  color: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  display: block;
  text-align: left;
  color: inherit;
  outline: 0;
}
.dark .message-composer{
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid rgba(240, 240, 240, 0.56);
}
.dark .message-composer textarea{
  color: #0AD5C1;
  background: rgba(0, 0, 0, 0.01);
}
textarea {
  border: none;
  font-family: 'Lato', sans-serif;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 90%;
  resize: none;
}
.leaflet-container {
  height: 150px;
  width: 250px;
  margin: 0 auto;
}

.chatapp {
    margin: 0 auto;
    width: 100vw;
    max-width: 700px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #eceff1;
    padding: 0;
    margin: 0 auto;
    margin-top: 56px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.map-marker-icon {
  background: url('../images/map_marker_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.message-container{
  position: relative;
  min-width: 80px;
  max-width: 80%;
  font-size: 17px;
  line-height: 22px;
  padding: 8px;
  padding-bottom: 4px;
  margin: 4px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: 12px;
}

.tile{
  width: 100%;
  height: 100px;
}

.tile-img{
  max-width: 100%;
  max-height: 100%;
  float: left;
  text-align: center;
  position: relative;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}

.tile-text{
  position: relative;
  padding: 2% 2% 0 2%;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 200%;
}

.tile-title{
  color: #999999;
  font-size: 120%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tile-img-container{
  background-color: #f2f2f2;
  text-align: center;
  position: relative;
  width: 30%;
  height: 100%;
  padding: 0;
  margin: 0;
  float: left;
  display:flex;
  align-items:center;
  justify-content:center;
}

.tile-anchor{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  float: right;
}

a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.dark a{
  color: #80a9a5;
}
.theme-button{
  line-height: 52px;
  background: #19324c;
  height: 56px;
  padding: 0 10px;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
.dark .theme-button{
  line-height: 52px;
  background: #607d8b;
  height: 56px;
  padding: 0 10px;
  color:#fff;
}
