.circleChoose{
  margin: 0 auto;
  position: relative;
  text-align: left;
  margin-left: 20px;
  margin-right: 0;
}

.app-bar, .app-bar-search {
  height: 46px;
  background-color: rgb(66, 133, 244);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll::-webkit-scrollbar {
  display: none;
 }
 
.scroll {
  overflow: -moz-scrollbars-none;
}

.map-marker-icon {
  background: url('../../images/map_marker_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.slick-slide{
  margin: 0 4px;
}

.slick-list{
  min-height: 130px;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  color: grey;
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  color: grey;
  opacity: 1;
}

@media only screen and (max-width: 560px){
  .app-bar-search img {
    width: 0px;
  }
}
