@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
body {
  background: #fff;
}
.dark-body{
  background-repeat: no-repeat;
background: #183850;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTgzODUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjMTgzODUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMTkyYzNlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjMjIyNTRjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyMjU0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg, #183850 0%, #183850 25%, #192c3e 50%, #22254c 75%, #22254c 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#183850), color-stop(25%,#183850), color-stop(50%,#192c3e), color-stop(75%,#22254c), color-stop(100%,#22254c));
background: -webkit-linear-gradient(-45deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
background: -o-linear-gradient(-45deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
background: -ms-linear-gradient(-45deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
background: linear-gradient(135deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183850', endColorstr='#22254c',GradientType=1 );
}
.chatapp {
  max-width: 760px;
  margin: 20px auto;
  overflow: hidden;
}

.voice-response{
  display: flex;
  flex-wrap: wrap;
  position: relative;
      max-width: 745px;
    margin: 0 auto;
    text-align: center;
}

.mic-container{
  border: 1px solid #eee;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  cursor: pointer;
  left: 0;
  pointer-events: none;
  transition: background-color 0.218s,border 0.218s,box-shadow 0.218s;
  width: 80px;
  height: 80px;
  position: relative;
  background-color:#FE2222;
  animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from {
    opacity: 1;
    box-shadow: 0 4px 10px rgba(241, 241, 241, 0.5),
    0 0 0 10px rgba(102, 102, 102, 0.1);
  }
  to { opacity: 0.3;
    box-shadow: 0 4px 10px rgba(241, 241, 241, 0.5),
    0 0 0 20px rgba(102, 102, 102, 0); }
}

.Modal{
  top:0;
  width: 100%;
  min-width:100%;
  border-radius: 0px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 25px;
  background: #fff;
  z-index: 10000;
  position: absolute;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.send_button{
  align-content: center;
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in-out;
}

.send_button:hover{
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.3);
}

.Overlay{
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.circleChoose{
  margin: 0 auto;
  position: relative;
  text-align: left;
  margin-left: 20px;
  margin-right: 0;
}

.is-strength-0 { color: #D1462F; }
.is-strength-1 { color: #D1462F; }
.is-strength-2 { color: #57B8FF; }
.is-strength-3 { color: #57B8FF; }
.is-strength-4 { color: #2FBF71; }

.ReactPasswordStrength-strength-bar {
  box-sizing: border-box;
  height: 2px;
  position: relative; top: 1px; right: 1px;
  transition: width 300ms ease-out;
}

.is-strength--1 .ReactPasswordStrength-strength-bar {
  background: #D1462F;
  display: none;
}

.is-strength-0 .ReactPasswordStrength-strength-bar {
  background: #D1462F;
  width: 50px;
  display: block;
}

.is-strength-1 .ReactPasswordStrength-strength-bar {
  background: #D1462F;
  width: 70px;
  display: block;
}

.is-strength-2 .ReactPasswordStrength-strength-bar {
  background: #57B8FF;
  width: 141px;
  display: block;
}

.is-strength-3 .ReactPasswordStrength-strength-bar {
  background: #57B8FF;
  width: 192px;
  display: block;
}

.is-strength-4 .ReactPasswordStrength-strength-bar {
  background: #2FBF71;
  width: 256px;
  display: block;
}

.message-list {
  background: #f5f4f7;
  position: fixed;
  top: 46px;
  left: 0;
  bottom: 74px;
  right: 0;
  width: 100vw;
  max-width: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0 auto;
  height: auto;
}

.dark .message-list {
  background: rgba(30, 87, 153, 0.02);
}

.message-section {
  background: #f5f4f6;
  position: fixed;
  top: 46px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  width: 100vw;
  max-width: 700px;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.dark .message-section{
background-repeat: no-repeat;
background: #183850;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTgzODUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjMTgzODUwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMTkyYzNlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjMjIyNTRjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyMjU0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg, #183850 0%, #183850 25%, #192c3e 50%, #22254c 75%, #22254c 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#183850), color-stop(25%,#183850), color-stop(50%,#192c3e), color-stop(75%,#22254c), color-stop(100%,#22254c));
background: -webkit-linear-gradient(-45deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
background: -o-linear-gradient(-45deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
background: -ms-linear-gradient(-45deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
background: linear-gradient(135deg, #183850 0%,#183850 25%,#192c3e 50%,#22254c 75%,#22254c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183850', endColorstr='#22254c',GradientType=1 );
}

nav {
    margin: 0 auto;
    width: 100vw;
    max-width: 700px;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    margin: 0 auto;
    font-size: 20px;
    line-height: 56px;
    font-weight: 900;
    color: #fff;
}

.app-bar h1{
  text-align: center;
}

.dark nav h1{
    color: #fff;
}

nav .actions {
    align-self: flex-end;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 4px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 46px;
  width: 100vw;
  background: #607d8b;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  user-select: none;
  -webkit-user-select: none;
}
.text-container{
  width: 400px;
  display: block;
}
.text-container h1{
  font-size: 4vw;
}
.message-list-item, .thread-list-item {
  color: #001d38;
  display: flex;
  margin: 5px;
}
.message-container{
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 60px;
  max-width: 80%;
  font-size: 16px;
  font-weight: 300;
  vertical-align: middle;
  line-height: 22px;
  padding: 12.1px 16.5px 12.1px;
  margin: 4px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: 12px;
  border: 1.1px solid #e0e0e0;
  border-radius: 14px;
  font-family: "Product Sans", sans-serif;
}
.message-container::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 100%;
  top: 40px;
  transform: rotate(-135deg);
}

@-webkit-keyframes SUSI {
  from {opacity: 0.6;
    transform: translate3d(0,5px,0);}
    to {opacity:  1;
      transform: none;}
}

@keyframes SUSI {
 from {opacity: 0.6;
    transform: translate3d(0,5px,0);}
    to {opacity:  1;
      transform: none;}
}
.message-container.SUSI{
  border: none;
  animation-iteration-count: 1;
  animation: SUSI 700ms  ease-out;
}
@-webkit-keyframes You {
  from {opacity: 0.6;
    transform: translate3d(0,5px,0);}
    to {opacity:  1;
      transform: none;}
}

@keyframes You {
 from {opacity: 0.6;
    transform: translate3d(0,5px,0);}
    to {opacity:  1;
      transform: none;}
}
.message-container.You{
  animation-iteration-count: 1;
  animation: You 700ms  ease;
}



.dark .message-container::after{
  border-color: rgb(26, 66, 86) #1a4257 rgb(26, 66, 86) rgb(26, 66, 86);
  background: rgba(25, 147, 147, 0.2);
}

.thread-list:hover .thread-list-item:hover {
  background-color: #f8f8ff;
}

.thread-list:hover .thread-list-item {
  background-color: #fff;
}

.thread-list-item.active,
.thread-list:hover .thread-list-item.active,
.thread-list:hover .thread-list-item.active:hover {
  background-color: #e1f5fe;
  cursor: default;
}

.message-author-name,
.thread-name {
  margin: 0;
  font-size: 14px;
  padding: 0;
}

.container-date{
  background: #999999;
  color: #fff;
  position: relative;
  min-width: 80px;
  max-width: 80%;
  font-size: 17px;
  line-height: 22px;
  padding: 8px;
  padding-bottom: 4px;
  margin: 4px;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
}

.dark .container-date{
  background: rgba(25, 147, 147, 0.2);
  color: #FFFFFF;
  position: relative;
  min-width: 80px;
  max-width: 80%;
  font-size: 17px;
  line-height: 22px;
  padding: 8px;
  padding-bottom: 4px;
  margin: 4px;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
}

.message-container.SUSI{
  margin-right: auto;
  margin-left: 12px;
  margin-right: 5px;
  background: #fff;
}

.dark .message-container.SUSI{
  border-color:rgba(25, 147, 147, 0.2);
  background:rgba(25, 147, 147, 0.2);
  color: #FFFFFF;
}

.message-container.You{
  background: #e0e0e0;
  border: none;
}

.dark .message-container.You{
  background: rgba(25, 147, 147, 0.2);
  color: #FFFFFF;
}

.message-container.SUSI>h5,.message-container.SUSI>.message-text {
  padding-right: 16px;
}

.message-container.SUSI::after {
  transform: rotate(-315deg);
  left: 0;
  top: 16px;
  border-color: transparent transparent #fff #fff;
  background: #fff;
}

.dark .message-container.SUSI::after{
  border-color:#194b5e #194b5e rgb(25, 75, 94) rgb(25, 75, 94);
  background:rgba(25, 147, 147, 0.2);
}

.message-time, .thread-time {
  list-style-type: none;
  font-size: 12px;
  color: #90a4ae;
  margin: 3px 0px -3px -38px;
  padding: 0;
  text-align: right;
}
.response-time{
  margin: 3px -9px -3px 1px;
}
.feedback{
    list-style-type: none;
    font-size: 12px;
    color: #90a4ae;
    margin: -4px -5px -7px 10px;
    padding: 0;
    text-align: left;
}
.dark .message-time, .thread-time{
  float: right;
  color: #7eaaaf;
  margin: 3px 0px -3px -38px;

}

.message-text, .thread-last-message {
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

.message-pane{
  margin: 0 auto;
  width: 100vw;
  max-width: 700px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.compose {
  position: fixed;
  bottom: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: var(--compose);
  box-shadow: 0 -1px 4px 0 rgba(0,0,0,.12);
  z-index: 2;
    transform: translate3d(0140px,0);
  transition: transform .25s cubic-bezier(0,0,.3,1) .3s;
  pointer-events: auto;
  opacity: 1;
  width: 100vw;
  max-width: 700px;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #f5f4f6;
  min-height: 75px;
}

.dark .compose{
  background: rgba(30, 87, 153, 0.02);
  color: #FFFFFF;
}

.scrollBottom{
  position: fixed;
  margin: 0;
  border: none;
  width: 100vw;
  max-width: 700px;
  bottom: 75px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.message-composer {
  width: 100%;
  margin: 0 8px 0 0;
  padding: 14px 9px 8px 9px;
  font-size: 14px;
  border: none;
  background: 0 0;
  text-align: left;
  color: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  display: block;
  text-align: left;
  color: inherit;
  outline: 0;
}

.dark .message-composer{
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid rgba(240, 240, 240, 0.56);
}

.dark .message-composer textarea{
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.01);
}
.textBack {
    max-width: 89%;
    border-radius: 10px;
    display: block;
    position: relative;
    box-sizing: content-box;
    line-height: 20px;
    font-size: 15px;
    min-height: 20px;
    border: none;
    padding: 10px 12px;
    overflow-y: scroll;
    max-height: 59px;
}
.textBack::-webkit-scrollbar {
    width: 6px ;
    height: 6px ;
}

.textBack::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
}
.textBack::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.08);
}
textarea {
  border: none;
  width: 100%;
  outline: none;
  box-shadow: none;
  resize: none;
  font-size: 16px;
  font-family: "Product Sans", sans-serif;
  font-weight: 300;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  margin-top: 3px;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-height: 80%;
  position: relative;
  top:0px;   background: transparent;

}
.scroll::-webkit-scrollbar {
   display: none;
 }
.scroll {overflow: -moz-scrollbars-none;}

.voice-output{
  font-family: 'Lato', sans-serif;
  width: 500px;
  font-size: 100%;
  max-width: 400px;
  text-align: left;
  padding-right: 20px;
}

@media only screen and (min-width: 0px) and (max-width: 768px){
  textarea{
    width: 100%;
  }
  .textBack {
    width: 81%;
  }
  .Modal{
    padding: 25px 0px 25px 0px;
  }
  .voice-output{
    width: 100%;
    text-align: center;
    padding-right: 0px;
    margin: 0 auto;
  }
  .mic-container{
    margin:14px auto;
    text-align: center;
  }
  .voice-response{
  display: block;
  flex-wrap: row;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  textarea{
    width: 100%;
  }
}
.leaflet-container {
  height: 150px;
  width: 100%;
  margin: 0 auto;
}

.chatapp {
  margin: 0 auto;
  width: 100vw;
  max-width: 700px;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #eceff1;
  padding: 0;
  margin: 0 auto;
  margin-top: 56px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.map-marker-icon {
  background: url('../../images/map_marker_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.swipe-rss-websearch{
    width: 93%;
    margin: 0 auto;
}

.slick-slide{
  margin: 0 10px;
}

.slick-list{
  min-height: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card{
  height: 225px;
  cursor: pointer;
  position: relative;
}

.card-noImg{
  height: 120px;
  cursor: pointer;
  position: relative;
}

.card-img{
  height: 120px;
  object-fit: contain;
  vertical-align: middle;
}

.card-text{
  margin-top: -35px;
  overflow: hidden;
}

.line-clamp {
      position: relative;
      height: 2.4em; /* exactly two lines */
    }
.line-clamp:after {
      content: "...";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1.2em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 85%);
 }

@supports (-webkit-line-clamp: 2) {
    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height:2.4em;
        height: auto;
    }
    .line-clamp:after {
        display: none;
    }
}

.card-url{
  color: #a9a9a9;
  position: absolute;
  bottom: 10px;
  right: 5px;
  width: 80%;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-text a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.dark a{
  color: #0ad5c1;
}

.theme-button{
  line-height: 52px;
  background: #19324c;
  height: 56px;
  padding: 0 10px;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

.dark .theme-button{
  line-height: 52px;
  background: #607d8b;
  height: 56px;
  padding: 0 10px;
  color:#fff;
}

.dialogStyle div{
    margin: 0 auto;
}
.headerStyle{
  font-family: 'Open Sans', sans-serif;
  margin: 15px 0;
  font-weight: 500;
}
em{
  background-color: orange;
}

.settingsComponents{
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.settingsDialog {
  text-align: left;
  padding-left: 29%;
}

.settingsHeader{
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  font-weight: 500;
  padding-left: 23%;
}

.serverUrl{
  float: left;
  position: relative;
  display: block;
  width: calc(100% - 46px);
  margin: -15px 0 10px -30px;
 }

.search{
  -webkit-text-fill-color: white;
  color: white;
}

.counter{
  color: white;
  position: relative;
  top: 5px;
}

abbr[title] {
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}

.tile-title strong span{
  font-family: "Product Sans", sans-serif;
  font-weight: 300;
  color: #001d38;
}

@media only screen and (max-width: 860px){
  .app-bar-search img {
    display: none !important;
  }
  .search{
    width: 100px !important;
  }
}
@media only screen and (max-width: 480px){
  .search{
    width: 100px !important;
  }
}
@media only screen and (max-width: 360px){
  .search{
    width: 65px !important;
  }
}

@media only screen and (max-width: 300px){
  .displayNone{
    display: none !important;
  }
  .displayCloseNone{
      position: relative;
      top:6px  !important;
  }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
