.feedback-skill-detail{
    display: flex;
    padding-top: 2%;
}

.feedback-avatar{
    padding-left: 2%;
}

.feedback-avatar-img{
    height: 60px;
    width: auto;
}

.feedback-skill-name-author{
    padding-left: 2%;
}

.feedback-author{
    cursor: pointer;
    color: #108ee9;
}

.feedback-author:hover{
    text-decoration: underline;
}

.feedback-name{
    font-weight: 400;
}

.feedback-name:hover{
    text-decoration: underline;
}

.skillFeedbackPage-container, .feedback-footer-skill{
    padding:2%;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}

ul.pagination li.page-item.navigation a.page-link{
    border: 0px;
    background: #fff;
}

ul.pagination li.page-item.active a.page-link {
    font-weight: 700;
    background-color: #fff;
    background-image: none;
    color: #417DDE;
    border-color: #417DDE;
    text-decoration: none;
}

.page-link {
    display: block;
    margin-left: -1px;
    line-height: 1.25;
}

.pagination-container {
    padding: 14px;
}

li.page-item {
    margin-left: 4px;
}

ul.pagination li a, .navigation-pagination a{
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    background: #eff1f3;
    background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: -moz-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f7f8fa),color-stop(1, #e7e9ec));
    background: -o-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    border: 1px solid #6c6e73;
    border-color: #adb1b8 #a2a6ac #8d9096;
    color: #000000;
    padding: 8px 12px 7px 13px;
    margin-left: 4px;
}

.navigation-pagination{
    padding: 8px 12px 7px 13px;
}

ul.pagination li {
    background-color: #fff;
    display: block;
    float: left;
    line-height: 16px;
    list-style: none;
    position: relative;
}

ul.pagination li a:hover, .navigation-pagination a:hover{
    background: #e0e3e9;
    background: -webkit-linear-gradient(top,#e7eaf0,#d9dce1);
    background: -moz-linear-gradient(top,#e7eaf0,#d9dce1);
    background: linear-gradient(to bottom,#e7eaf0,#d9dce1);
    background: -o-linear-gradient(top,#e7eaf0,#d9dce1);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e7eaf0),color-stop(1, #d9dce1));
    border-color: #a2a6ac #979aa1 #82858a;
}

.navigation-pagination-disabled{
    background: #fff;
    border: 0;
    padding: 8px 12px 7px 13px;
    margin-left: 4px;
    border: 1px solid transparent;
}

a.navigation-pagination-text-disabled{
    color: #999;
    cursor: inherit;
}

li.page-item.navigation {
    padding: 1%;
    cursor: default;
    color: #999;
}
