.forgotpwdlink{
	color: #999999;
	cursor: pointer;
}
.forgotpwdlink:hover{	
    color: red;
}
.loginForm{
	margin: 0 auto;
	padding: 10px 0;
}

.sty{
	width: 256px;
}
.loginForm h3{
	margin: 5px 0;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.loginForm h3{
		font-size: 16px;
	}
}