.login-links{
	color: #365899;
	cursor: pointer;
	font-size: 12px;
}
.login-links:hover{
	color: #365899;
    text-decoration: underline;
}
.loginForm{
	margin: 0 auto;
	padding: 10px 0;
}

.login-links-section {
	display: flex;
	justify-content: space-evenly;
	padding: 0 20px 0 20px;
}

.sty{
	width: 256px;
}
.loginForm div{
	margin: 5px 0;
}

@media screen and (max-width: 768px) {
	.loginForm h3{
		font-size: 16px;
	}
}