.forgot-password{
  margin-left:20%;
  color: #365899;
  cursor: pointer;
  font-size: 12px;
}

.sign-up{
  margin-right:20%;
  color: #365899;
  cursor: pointer;
  font-size: 12px;
}

.login-form{
  margin: 0 auto;
  padding: 10px 0;
}

.login-links-section {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px 0 20px;
  margin-top:10px;
}

.login-form div{
  margin: 5px 0;
}

.message {
  margin-top: 8px;
}
@media screen and (max-width: 1100px) {
  .forgot-password{
    margin-left:5%;
  }
  .sign-up{
    margin-right:5%;
  }
}
@media screen and (max-width: 768px) {
  .login-form h3{
    font-size: 16px;
  }
}
