html {
    overflow-x: hidden;
}
.footer-wrap{
    background: #f6f6f6;
    width: 100%;
    position: relative;
    z-index: 10;
    border: 1px solid #ddd;
    display: flex;
    bottom: 0;
    left: 0;
    margin-top: 35px;
}

.footer-container {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
}

.footer-content{
    background: #f6f6f6;
    margin-top:0px;
    min-height: 20px;
    max-width: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.footer-content li {
    padding: 8px;
}

.footer-content li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: #414141;
}

.footer-content ul{
    list-style: none;
    list-style-type: none;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 8px;
    padding: 0;
}

.footer-content li a:hover {
    color:#3367d6;
}

.susi-logo-footer{
    height: 30px;
    vertical-align: middle;
    max-width: 100px;
    margin: 10px 48px 10px 0px;
}
.susi-logo{
    height: 10px;
    vertical-align: middle;
    max-width: 100px;
    margin-top: 21px;
    width: auto;
}

.footer-left {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
@media only screen and (max-width: 800px) {
    .susi-logo{
        display: block;
        margin-left:auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 745px){

    .footer-content {
        padding-top: 0px;
        justify-content: center;
    }

    .footer-container {
        display: block;
    }

    .susi-logo-container {
        display: flex;
        justify-content: center;
    }

    .susi-logo-footer {
        margin: 10px;
    }
}