.section_blog{
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: justify;
    margin: 0 auto;
    padding: 2.5rem 0;
    position: relative;
    max-width: 100%;
    width: 58.438rem;
    align-items: center;
    box-shadow: inset 0 12.5rem 12.5rem -12.5rem #fff, inset 0 -12.5rem 12.5rem -12.5rem #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.section_blog a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    height: 1.875rem;
}

.section_blog a:hover{
    text-decoration: underline;
    color: rgba(51,51,51,0.7);
}

.section_blog img{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.authorName{
    padding-left: 0.625rem;
    font-size: 1.125rem;
}

.tagIcon{
    padding-right: 0.625rem;
}

.section_blog pre{
    overflow: auto;
}

pre{
    background: #002240;
    color: #fff;
    padding: 0.625rem 0.625rem;
    overflow: auto;
    line-height: 1.2632em;
    word-wrap: break-word;
    white-space: pre;
    font-size: 1rem;
	display :block;
}

pre a:hover{
    background-color: yellow;
}

table{
	display : block;
	overflow-x: auto;
	white-space: nowrap;
}

@media only screen and (max-width: 1000px){
    .section_blog{
        max-width: 100%;
        width: 85%;
        padding: 0% 5% 5% 5%;
        align-self: center;
    }
}

@media only screen and (max-width: 480px){
    .section_blog{
        padding: 5% 0%;
    }
}
