.section_blog{
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    margin: 0 auto;
    padding: 2.5rem 0;
    position: relative;
    max-width: 100%;
    width: 935px;
    align-items: center;
    box-shadow: inset 0 200px 200px -200px #fff, inset 0 -200px 200px -200px #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.section_blog a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    height: 30px;
}

.section_blog a:hover{
    text-decoration: underline;
    color: rgba(51,51,51,0.7);
}

.section_blog img{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.authorName{
    padding-left: 10px;
    font-size: 18px;
}

.tagIcon{
    padding-right: 10px;
}

.section_blog pre{
    overflow: auto;
}

pre{
    background: #002240;
    color: #fff;
    padding: 10px 10px;
    overflow: auto;
    line-height: 1.2632em;
    word-wrap: break-word;
    white-space: pre;
    font-size: 16px;
	display :block;
}

pre a:hover{
    background-color: yellow;
}

table{
	display : block;
	overflow-x: auto;
	white-space: nowrap;
}

@media only screen and (max-width: 1000px){
    .section_blog{
        max-width: 100%;
        width: 85%;
        padding: 0% 5% 5% 5%;
        align-self: center;
    }
}

@media only screen and (max-width: 480px){
    .section_blog{
        padding: 5% 0%;
    }
}
