.post_bottom {
    padding: 100px 0 20px 90px;
}

.featured_image {
    height: 500px;
}

.section_blog{
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    padding: 100px 15% 100px 15%;
    position: relative;
    max-width: 1050px;
    align-items: center;
    box-shadow: inset 0 200px 200px -200px #fff, inset 0 -200px 200px -200px #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
}

@media only screen and (max-width: 1080px){
    .section_blog {
        max-width: 940px;
    }
}

@media only screen and (max-width: 800px){
    .featured_image {
        height: 300px;
    }
    .post_bottom {
        padding: 100px 0 240px 0px;
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 480px){
    .featured_image {
        height: 200px;
    }
    .section_blog {
        padding: 10px 0 0 0;
        width: 90%;
        margin: 20px auto;
    }
}
