<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <ul class="nav navbar-nav ">
                    <li><a href="http://fossasia.org">&copy; 2017 Fossasia.org</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-lg-offset-3 col-md-7">
                <ul ng-controller="ScrollCtrl" class="nav navbar-nav ">
                    <li><a ng-click="gotoElement('features')">Features</a></li>
                    <li><a ng-click="gotoElement('pricing')">License</a></li>
                    <li><a ng-click="gotoElement('reviews')">Reviews</a></li>
                    <li><a ng-click="gotoElement('susi-demo')">Hello susi</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://github.com/fossasia/susi_server"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>
