
.head_section {
    border-bottom: 1px solid #dfdfdf;
    background: #f7f7f7;
}

.container {
    margin: 0 auto;
    max-width: 1120px;
    padding: 100px 20px 120px;
    position: relative;
    text-align: center;
}
.container {
    padding-top: 120px;
}
.heading h1 {
    font-size: 42px;
    font-weight: 100;
    margin: 0 auto;
    max-width: 880px;
    font-family: 'Roboto', sans-serif;
}
.heading p{
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    margin: 15px auto;
    max-width: 430px;
    color: #414141;
    font-family: 'Roboto', sans-serif;
}
.device_section{
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    max-width: none;
    padding: 100px 20px 100px 20px;
    position: relative;
    max-width: 85%;
    width: 935px;
    align-items: center;
    box-shadow: inset 0 200px 200px -200px #fff, inset 0 -200px 200px -200px #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
}
.device_description{
    width: 50%;
}
.device_description .heading {
    font-size: 43px;
    font-weight: 100;
    margin: 20px 0;
    text-align: left;
    color: #414141;
    font-family: 'Roboto', sans-serif;
}
.text_description {
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    max-width: 440px;
    color: #414141;
    font-family: 'Roboto', sans-serif;
}
.play_store {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url('../../images/google-play.svg') center center no-repeat;
    background-size: contain;
    float: left;
    height: 45px;
    margin: 0 10px 10px 0;
    width: 152px;
}
.app_store {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url('../../images/app-store.svg') center center no-repeat;
    background-size: cover;
    float: left;
    height: 45px;
    width: 152px;
    margin: 0 10px 10px 0;
}
.bottom_section {
  padding: 100px 20px 240px 20px;
}
.img-container{
    width: 50%;
}
.susi-test{
    text-align: left;
    width: 60%;
    margin-left: 10%;
    max-width: 313px;
}
.susi-desktop{
    text-align: left;
    width: 100%;
    margin-left: 10%;
}

.alignLeft,.alignRight{
    list-style: none;
    list-style-type: none;
}
.leftDiv a,.rightDiv a {
    color:#3367d6;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 1400px){

    .device_section{
        max-width: 1050px;
        width: 1050px;
        margin:0 auto;
        padding: 100px 0px 100px 120px;
    }
    .bottom_section{
        padding-bottom: 200px;
    }
}

@media only screen and (max-width: 1000px){
    .section_copy {
        max-width: 800px;
        padding-left: 20px;
    }
    .device_section{
        padding: 100px 20px;
    }
    .device_description{
        width: 100%;
    }
    .text_description{
        max-width: 100%;
    }
    .bottom_section{
        padding-bottom: 200px;
    }
    .store_icons{
        margin: 0 auto;
        width: 180px;
        padding-bottom: 20px;
    }
    .susi-desktop{
        margin: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 480px){
    .container{
        padding: 35px 20px 120px;
    }
    .device_description .heading {
        text-align: center;
    }
    .device_section{
        padding: 10px 0 0 0;
        width: 90%;
        margin: 0 auto;
    }
    .device_description{
        width: 100%;
        text-align: center;
    }
    .img-container{
        width: 60%;
    }
    .bottom_section {
      padding: 100px 20px 120px 20px;
      width: 90%;
      margin: 0 auto;
    }
    .heading h1 {
        margin-top: 30px;
    }
    .store_icons{
    }
}
