.App {
  text-align: center;
  height: 100%;
}
.top-border{
 border-top: 1px solid #E0E0E0;
 margin: 0;
 padding: 0;
}
.grid-border{
  border-left:  1px solid #E0E0E0;
}
.grid-border-top{
   border-top: 1px solid #E0E0E0;
}
.history{
  	height: 70vh;
}
