@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}

/* Remove input autofill yellow background */
@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: rgba(0,0,0,0);
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

a{
  color: rgb(66, 133, 244);
  text-decoration: none;
}
