.changePasswordForm {
  margin: 0 auto;
  padding:0;
}

.changePasswordForm h3 {
  font-family: 'Open Sans', sans-serif;
  margin: 5px 0;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .changePasswordForm h3 {
      font-size: 16px;
  }
}

.forgot {
  margin-top : 20px;
  color : #1DA1F5;
}

.forgot a {
  color : #1DA1F5;
  text-decoration : none;
}

.is-strength-0 { color: #D1462F; }
.is-strength-1 { color: #D1462F; }
.is-strength-2 { color: #57B8FF; }
.is-strength-3 { color: #57B8FF; }
.is-strength-4 { color: #2FBF71; }
 .ReactPasswordStrength-strength-bar {
  box-sizing: border-box;
  height: 2px;
  position: relative; top: 1px; right: 1px;
  transition: width 300ms ease-out;
}
 .is-strength--1 .ReactPasswordStrength-strength-bar {
  background: #D1462F;
  display: none;
}
 .is-strength-0 .ReactPasswordStrength-strength-bar {
  background: #D1462F;
  width: 50px;
  display: block;
}
 .is-strength-1 .ReactPasswordStrength-strength-bar {
  background: #D1462F;
  width: 70px;
  display: block;
}
 .is-strength-2 .ReactPasswordStrength-strength-bar {
  background: #57B8FF;
  width: 141px;
  display: block;
}
 .is-strength-3 .ReactPasswordStrength-strength-bar {
  background: #57B8FF;
  width: 192px;
  display: block;
}
 .is-strength-4 .ReactPasswordStrength-strength-bar {
  background: #2FBF71;
  width: 256px;
  display: block;
}
