.changePasswordForm {
  margin: 0 auto;
  padding:0;
}

.changePasswordForm h3 {
  font-family: 'Open Sans', sans-serif;
  margin: 5px 0;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .changePasswordForm h3 {
      font-size: 16px;
  }
}

.forgot {
  margin-top : 5px;
  color : #1DA1F5;
}

.forgot a {
  color : #1DA1F5;
  text-decoration : none;
}
