.changePasswordForm {
  margin: 0 auto;
  padding:0;
}

.changePasswordForm h3 {
  margin: 5px 0;
  font-weight: 500;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .changePasswordForm h3 {
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
  }
}

.forgot {
  margin-top : 20px;
  color : #1DA1F5;
}

.forgot a {
  color : #1DA1F5;
  text-decoration : none;
}

.ModalDiv>div>div>div {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 783px){
  .ModalDiv>div>div>div {
    width: 80%;
    margin: 0 auto;
  }
}
